body{
    background-color: rgb(202, 182, 228);
    margin: 0;
    padding: 0;
}


.navbar{
    display: flex;
    align-items: center;
}

.nav-left{
        display: flex;
        align-items: center;
        margin-right: auto;
        width: 50%;
        height: 80px;
        background-color: rgb(121, 84, 143);

        gap: 2%;
        
        }.logo-navbar{
        width: 140px;
        height: 100px;
            }.line{
                width: 1px;
                height: 65px;

                background-color: rgb(243, 221, 255);
                }.esposições-nav{
                        font-size: 1.2rem;
                        
                        color: rgb(248, 213, 255);
                    }.divulgar-nav{
                            font-size: 1.2rem;
                            
                            color: rgb(248, 213, 255);
                        }.shows-nav{
                            font-size: 1.2rem;
                            
                            color: rgb(248, 213, 255);
                            }.turismo-nav{
                                font-size: 1.2rem;
                                
                                color: rgb(248, 213, 255);
                                }#voltar{
                                    font-size: 1.2rem;
        
                                    color: rgb(248, 213, 255);
                        }

    .nav-right{

        display: flex;
        align-items: center;
        
        width: 50%;
        height: 80px;
        background-color: rgb(121, 84, 143);
        margin-left: auto;
        gap: 2%;

    }.barra-pesquisa{
           
            height: 25px;
            width: 80%;
            margin-left: 2%;
           
        
            border-radius: 10px;
            border: none;
                }.lupa-simbolo{
                    width: 45px;
                    height: 45px;
                   

                    filter: brightness(0) invert(1);
                    transition: 0.3s;
                        }.lupa:hover{
                            filter: brightness(0) invert(0.7);
                                }.login-nav{
                                    font-size: 1.2rem;
                                    
                                    color: rgb(248, 213, 255);
                                        }.simbolo-login{
                                            width: 40px;
                                            height: 40px;
                                            margin-right: 3%;
                                            
                                            filter: brightness(0) invert(1);
                                                }



.box-registrar{
    position: absolute;
    top: 15%;
    left: 10%;

    width: 80% ;
    height: 80%;

    background-color:rgb(142, 124, 153);


}.barra{
    position: relative;
    width: 100% ;
    height: 8%;

    background-color: rgb(44, 10, 71);
}

.alinhar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
    margin-top: 0.5%;

    height: 100%;
    }






    .registrar_principal{
        display: flex;
        flex-direction: column;
        
        width: 45%;
        height: 90%;
        

        background-color: rgb(236, 209, 241);
        color: rgb(46, 10, 49);
        font-size: 1.2rem;
        
        }.inputs{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;

            
        }#titulo{
            
            width: 50%;
            height: 10%;
            

            }#descricao{

                    width: 50%;
                    height: 10%;

                }.text_idade{
                    margin-left: 5%;
                }
.campo_para_imagem{
        margin-left: 5%;
    }#box_imagem{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 200%;
        margin-left: 5%;
        background-color: rgb(247, 234, 255);

            }










    .Campo_2{
        width: 45%;
        height: 90%;

        background-color: rgb(236, 209, 241);
        color: rgb(46, 10, 49);
        font-size: 1.2rem;
        
    }.elementos_campo2{
    
        display: flex;
        flex-direction: column;
    
        height: 100%;
       
        gap: 5%;

        }#descricao_show{
       
                width: 80%;
                height: 30%;
                margin-left: 5%;
            }.tipos_de_divulgacao{

                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;
                gap: 2%;
                margin-top: 8%;
                margin-left: 1.5%;

                }.box_tipo{
    
                        height: 80%;
                        width: 31%;
                    
            
                        background-color: aqua;

                    }