body{
    background-color: rgb(21, 4, 43);
    margin: 0;
    padding: 0;
}




.navbar{
    width: 100%;
    
}.logo-navbar{
    width: 140px;
    height: 100px;
    }.bar{
        display: flex;
        align-items: center;

        width: 100%;
        height: 80px;
        background-color: rgb(121, 84, 143);
        }.line{
                width: 2px;
                height: 70px;
                margin-left: 40px;

                background-color: rgb(243, 221, 255);
            }.shows-nav{
                    font-size: 20px;
                    margin-left: 50px;
                    color: rgb(248, 213, 255);
                }.esposições-nav{
                        font-size: 20px;
                        margin-left: 50px;
                        color: rgb(248, 213, 255);
                    }.divulgar-nav{
                            font-size: 20px;
                            margin-left: 50px;
                            color: rgb(248, 213, 255);
                        }.barra-pesquisa{
                            width: 400px;
                            height: 25px;
                            margin-left: 50vh;

                            border-radius: 10px;
                            border: none;
                        }.lupa-simbolo{
                            width: 50px;
                            height: 50px;
                            margin-left: 10px;

                            filter: brightness(0) invert(1);
                            transition: 0.3s;
                            }.lupa:hover{
                                    filter: brightness(0) invert(0.7);
                                }.login-nav{
                                        font-size: 25px;
                                        margin-left: 30px;
                                        color: rgb(248, 213, 255);
                                    }.simbolo-login{
                                        width: 40px;
                                        height: 40px;

                                        margin-left: 15px;
                                        filter: brightness(0) invert(1);
                                    }



#block-img-text-1{
        position: absolute;
        top: 15vh;
        left: 2vh;

        width: 50%;
        height: 650px;
}
.block-text{
    position: absolute;
    top: 15vh;
    right: 2vh;

    width: 50%;
    height: 650px;
    background-color: rgb(161, 114, 214);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}#text-block-shows{
        font-size: 50px;
        margin-top: 60px;
        
    }#subtext-shows{
            font-size: 25px;
            margin-top: 125px;
            text-align: center;
            
                
        }





.sessao_precos{
    
}