body{
    background-color: rgb(228, 220, 240);
    margin: 0;
    padding: 0;
}


.navbar{
    display: flex;
    align-items: center;
}

.nav-left{
        display: flex;
        align-items: center;
        margin-right: auto;
        width: 50%;
        height: 80px;
        background-color: rgb(121, 84, 143);

        gap: 2%;
        
        }.logo-navbar{
        width: 140px;
        height: 100px;
            }.line{
                width: 1px;
                height: 65px;

                background-color: rgb(243, 221, 255);
                }.esposições-nav{
                        font-size: 1.2rem;
                        
                        color: rgb(248, 213, 255);
                    }.divulgar-nav{
                            font-size: 1.2rem;
                            
                            color: rgb(248, 213, 255);
                        }.shows-nav{
                            font-size: 1.2rem;
                            
                            color: rgb(248, 213, 255);
                            }.turismo-nav{
                                font-size: 1.2rem;
                                
                                color: rgb(248, 213, 255);
                                }#voltar{
                                    font-size: 1.2rem;
        
                                    color: rgb(248, 213, 255);
                                }

    .nav-right{

        display: flex;
        align-items: center;
        
        width: 50%;
        height: 80px;
        background-color: rgb(121, 84, 143);
        margin-left: auto;
        gap: 2%;

    }.barra-pesquisa{
           
            height: 25px;
            width: 80%;
            margin-left: 2%;
           
        
            border-radius: 10px;
            border: none;
                }.lupa-simbolo{
                    width: 45px;
                    height: 45px;
                   

                    filter: brightness(0) invert(1);
                    transition: 0.3s;
                        }.lupa:hover{
                            filter: brightness(0) invert(0.7);
                                }.login-nav{
                                    font-size: 1.2rem;
                                    
                                    color: rgb(248, 213, 255);
                                        }.simbolo-login{
                                            width: 40px;
                                            height: 40px;
                                            margin-right: 3%;
                                            
                                            filter: brightness(0) invert(1);
                                                }



.pagina{

    display: flex;
    flex-direction: row;
    height: 100%;

}

#imagem{

    width: 30%;
    height: 88vh;
    padding: auto;

}

.box{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;

    width: 70%;
    height: 10%;
    background-color: rgb(66, 53, 80);

    padding: 10px;
}.caixa-text{

    

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    

    }.titulo{
        font-size: 3rem;
        text-align: center;
        color: rgb(243, 215, 250);
    }.descricao{
            max-width: 85%;
            text-align: center;

            word-wrap: break-word;
            overflow-wrap: break-word;

            font-size: 1.2rem;
            color: rgb(243, 215, 250);
        }#botao{
            
            margin-top: 10vh;
            margin-bottom: 15vh;

            padding: 20px 50px;
            font-size: 1rem;

            background-color: rgb(250, 170, 250);
            border: none;
            color: rgb(85, 3, 23);
            


            }